html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #201148;
  width:100vw; 
  height:100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  background-color: #39513A;
  color: white;
  font-size: 24px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.button:active {
  transform: scale(0.95);
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  text-align: center;
  animation: fadeInUp 1.5s ease-in-out;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 3em;
  /*background: -webkit-linear-gradient(red,orange,yellow,green,blue,indigo,violet);*/
  background-color: rgb(255, 199, 209);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  font-size: 55px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}